body {
  background: whitesmoke;
  padding: 10em;
  font-family: "Molengo", Georgia, serif;
  font-size: 10pt; }

h1 {
  font-size: 24pt;
  margin-bottom: 0; }

h2 {
  margin-top: 0;
  font-size: 13pt;
  font-weight: normal; }
